doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src= '/javascripts/redirectHome.js')
  body
    div(id= "nav-bar")
      nav(id= "nav")
        //a(href="/") Home
    div(id= "message-div")
        p(id= "message")= message
        p One Moment...