extends layout

block content
    div(id= 'email-address-div')
        form(id= 'frm_emails' action= '/item/share?emails=', method= 'GET')
            table(id= 'tbl_emails' class='table')
                tr
                    td      
                        label(for="txt_emails") Share a PDF and Excel Workbook of your inventory. <br/><br/> Enter 1 or more comma separated email addresses.
                tr
                    td   
                        input(id= 'txt_emails' name="emails", placeholder= "example@gmail.com, example@yahoo.com", style= "width: 500px") 
            
            button(type= 'submit' form= 'frm_emails') Send