extends layout

block content
    div(id= 'email-address-div')
        form(id= 'frm_emails' action= '/item/share?emails=', method= 'GET')
            table(id= 'tbl_emails' class='table')
                tr
                    td      
                        label(for="txt_emails") Share a PDF and Excel Workbook of your inventory. <br/><br/> Enter 1 or more email addresses.
                tr
                    td   
                        textarea(id= 'txt_emails' name="emails", cols="50", rows="10") 
            
            button(type= 'submit' form= 'frm_emails') Share