doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src= '/javascripts/redirectHome.js')
  body
    div(id= "nav-bar")
      nav(id= "nav")
        //a(href="/home") Home
    div(id= "message-div")
        p(id= "success-message")= message