*{
  font-size: 18px;
  text-align: center;
  z-index: 1;
}

a {
  color: white;
}

#title-div {
  color: white;
  text-align: center;
  background-color: #602040;
  border-radius: 10px;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  padding-top: 25px;
  padding-bottom: 25px;
}

textarea {
  margin-top: 50px;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

nav {
  color: white;
  display: inline;
}

#nav-bar {
  color: white;
  width: 100%;
  height: auto;
  padding: 25px;
  margin: 0 auto;
  background-color: #602040;
  border-radius: 5px;
}

#nav-bar > a {
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}

#nav-bar > p{
  display: inline;
}

#login-div {
  padding: 25px;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#login-table {
  padding-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

td {
  padding-bottom: 10px;
  padding-top: 5px;
}

.inventory-row {
  height: 252px;
}

.label {
  text-align: left;
  padding-bottom: 0px;
}

button {
  font: 14px bold;
}

#message {
  color: red;
}

#success-message {
  color: green;
}

#table-div {
  padding-top: 40px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.tbl_inventory, #tbl_emails {

  padding-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

#url {
  display: none;
  visibility: hidden;
}

.logo-div {
  text-align: left;
}

#logo {
  width: 297px;
  height: 79px;
  z-index: 100;
}

.delete {
  color: red;
}

button {
  font-size: 18px;
}

#product-image {
  width: 252px;
  height: 123px;
  image-orientation: from-image; /* Use EXIF data from the image */
}

.rotate {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
  display: block;
  padding-bottom: 10px;
}